body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#mainMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#startButton {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#startButton:hover {
    background-color: #555;
}

canvas {
    display: block;
}
